<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student details</title>

</head>
<body>
    {% for std in students %}
      <a href="{% url 'index' std.id %}">{{std.name}}</a>
       <h2>{{std.id}}</h2> <hr>
        <h2>{{std.name}}</h2>
        <h2>{{std.roll_no}}</h2>
        <h2>{{std.address}}</h2>
        <h2>{{std.contact}}</h2>
    {% endfor %}
</body>
</html>